PORT=5001
APPWRITE_ENDPOINT="https://cloud.appwrite.io/v1"
APPWRITE_PROJECT_ID="your_appwrite_project_id"
APPWRITE_API_KEY="your_appwrite_secret_api_key"
DATABASE_ID="osdag-db"
FILES_COLLECTION_ID="files"
STORAGE_BUCKET_ID="user-files"
